@import "@styles/variables.module.scss";
@import "@styles/mixins.module.scss";

.container{
    padding-top: 83px;
}
.containerSteps{
   @include flex_box_cutom(center, center, 40px);
   flex-direction: column;
    background-color: #fafafa;
    padding: 35px 0;

    .titleSteps{
        text-align: center;
        font-size: 16px;
        color: $four_color;
        font-weight: 400;
    }
}
.contentSteps{

    @include flex_box_cutom(center, center, 0px);
    
    .line{
        min-width: 120px;
        height: 1px;
        background-color: #e1e1e1;
        margin: 0 20px
    }
    .stepper{
        @include flex_box_cutom(center, center, 10px);
        text-transform: uppercase;
        .numberStep{
            @include flex_box_cutom(center, center, 10px);
            background-color: #333;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            color: $white_color;

        }
        .isDisableNumber{
            color: #8888;
            background-color: transparent;
            border: 1px solid #e1e1e1;
        }
        .textStep{
            color:  $four_color;
            font-size: 21px;
            font-weight: 300;
        }
        .isDisableText{
            color: $temp_color;
        }
        

    }
}
.containerContent {
  @include flex_box_cutom(space-between, flex-start, 30px);
    margin-top: 35px;
  .cartTable {
      // width: 100%;
      margin: 0 auto;
      padding-bottom: 15px;
      border-bottom: 1px solid #e1e1e1;
      position: relative;

      table {
          width: 100%;
          border-collapse: collapse;
          text-align: left;

          thead {
              tr {
                  th {
                      padding: 10px 15px;
                      border-bottom: 1px solid #ccc;
                      font-size: 15px;
                      font-weight: 300;
                      text-align: center;
                  }

                  th:first-child {
                      padding-left: 0;
                      text-align: left;
                  }

                  th:last-child {
                      padding-right: 0;
                      text-align: right;
                  }
              }
          }

          tbody {
              tr {
                  td {
                      padding: 15px;
                      vertical-align: top;
                      color: $secondary_color;
                      font-size: 14px;
                      font-weight: 300;

                      &:nth-child(1) {
                          display: flex;
                          padding-left: 0;
                          color: $four_color;
                          font-size: 16px;

                          img {
                              width: calc(100px - 0.71em);
                              margin-right: 10px;
                              border-radius: 2px;
                          }

                          div {
                              flex-grow: 1;

                              p:first-child {
                                  margin: 0;
                              }

                              p:last-child {
                                  font-size: 0.9em;
                                  color: #777;
                              }
                          }
                      }
                      &:nth-child(4) {
                          color: $third_color;
                      }

                      &:nth-child(5) {
                          select {
                              width: 100%;
                              padding: 8px;
                              border: 1px solid #ccc;
                              border-radius: 1px;
                              color: $secondary_color;
                          }
                      }

                      &:last-child {
                          text-align: right;
                          padding-right: 0;
                      }
                  }
              }
          }
      }
  }
  
  .containerRight{
    width: 40%;
  }
  .containerSummary{
    padding: 25px;
    border: 2px solid #333;
    position: relative;
    .title{
        font-size: 16px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        text-transform: uppercase;
    }
    .boxTotal{
        @include flex_box_cutom(space-between, center, 10px);
        margin: 25px 0;
       

    }
    .subTotal{
        color: $third_color;

        .price{
            color: #8888;
            font-weight: 300;
            font-size: 14px;
        }
    }
    .total{
        font-size: 20px;
        color: $four_color;
    }
    .space{
        margin: 10px 0;
    }

  }
  .containerMethods{
    padding: 25px 0;
    position: relative;
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-top: 45px;

    .title{
        font-size: 15px;
        position: absolute;
        transform: translateX(-50%);
        top: -8px;
        left: 50%;
        background: white;
        padding: 0 10px;
        text-transform: uppercase;

        span{
            color: #2e7d32;
            font-weight: 400;
        }
    }
    .boxImgMethods{
        @include flex_box_cutom(center, center, 10px);
        .imgMethods{
            max-width: 50%;
            width: 53px;
            height: 32px;
            border: 1px solid #e1e1e1;
            border-radius: 4px;
        }
    }
  }
  .footer{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    
    span{
        color: $third_color;
        font-weight: 300;
    }
  }
  .containerFooter{
    @include flex_box_cutom(space-between, center, 0px);
    margin-top: 10px;
  }
  .containerContentRight{
    height: 35px;
    width: 50%;
    display: flex;
    align-items: stretch;
    input{
        flex: 1; 
        height: 100%; 
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
        border: 1px solid #e1e1e1;
        outline: none;
    }
  }


}
.boxEmtyCart{
    @include flex_box_cutom(center, center, 10px);
    flex-direction: column;
    padding: 70px 0px;
    width: 100%;

    .boxEmtyTitle{
        font-size: 24px;
        margin-bottom: 7px;
    }
    .boxEmtyContent{
        font-size: 14px;
        color: $third_color;
    }
    button{
        text-transform: uppercase;
        margin-top: 20px;
        padding: 0 20px;
        font-size: 12px;
    }
}

.containnerLoading{
    @include flex_box_cutom(center, center,0px);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
